* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";

    font-family: 'Inter', sans-serif;
}

.filter-white {
    filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(131deg) brightness(106%) contrast(105%);
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #166534;
    padding: 10px;
}

/* SIDEBAR TITLE */
.sidebar-title {
    margin-bottom: 50px;
}

.sidebar-title>h2 {
    color: white;
    font-weight: 700;
}

.sidebar-title>img {
    height: 50px;
}

.sidebar-title>h2, .sidebar-title>img {
    vertical-align: middle;
    display: inline-block;
}

/* SIDEBAR ELEMENTS */
    .sidebar-element {
        margin-top: 15px;
    }

    .sidebar-element>h3 {
        color: white;
        font-weight: 500;
        font-size: 15px;
        margin-left: 10px;
    }

    .sidebar-element>img {
        height: 20px;
    }

    .sidebar-element>h3, .sidebar-element>img {
        vertical-align: middle;
        display: inline-block;
    }

/* HEADER */
.header {
    grid-area: header;
    height: 160px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;

    display: grid;
    grid-template: 1fr 1fr / min(60%, calc(100% - 175px)) max(40%, 175px);
}

/* HEADER ELEMENTS */

    /* search */
    .header-search {
        display: flex;
        align-items: center;
    }

    .header-search>img {
        height: 25px;
        margin-left: 10px;
    }

    .header-search>input {
        background-color: rgb(227, 232, 239);
        border: none;
        border-radius: 20px;
        width: calc(80% - 25px);
        height: 3em;
        margin-left: 10px;
        padding-left: 10px;
    }

    .header-search>input, .header-search>img {
        vertical-align: middle;
        display: inline-block;
    }

    /* account */
    .header-account {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding-right: 10px;
    }

    .header-account>#account-avatar {
        height: 35px;
    }

    .header-account>#bell-icon {
        height: 25px;
    }

    .header-account>h3 {
        font-weight: 600;
        font-size: 15px;
    }

    /* greeting */
    .header-greeting {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        padding-left: 10px;
    }

    .header-greeting>img {
        height: 55px;
    }

    .header-greeting>div>h4 {
        font-weight: 500;
        font-size: 10px;
    }

    .header-greeting>div>h3 {
        font-weight: 700;
        font-size: 15px;
        padding-top: 2px;
    }

    /* buttons */
    .header-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding-right: 10px;
    }

    .header-buttons>button {
        border: none;
        background-color: #22c55e;
        color: white;
        padding: 10px 15px;
        border-radius: 25px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 15px;
    }

.main-content {
    grid-area: main-content;
    height: calc(100vh - 100px);
    background-color: #bbf7d0;

    display: flex;
}

.projects {
    border: 2px solid red;
    width: min(70%, calc(100% - 240px));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 280px));
    grid-template-rows: repeat(2, minmax(250px, 300px));

    z-index: 0;

}

.projects>.project {
    border: 2px solid pink;

    margin: 10px;
    padding: 5px;
}

.announcements {
    border: 2px solid purple;
    width: max(30%, 240px);

    display: flex;
    flex-direction: column;

    z-index: 1;
}



